name: CI
on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositório
        uses: actions/checkout@v4

      - name: Instalar dependências
        run: npm install
        working-directory: backend

      - name: Rodar testes
        run: npm test
        working-directory: backend